[submodule "DMH_VCLFO_PANEL/Libraries/SynthStuff"]
	path = DMH_VCLFO_PANEL/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
[submodule "DMH_VCLFO_PCB_1/Libraries/SynthStuff"]
	path = DMH_VCLFO_PCB_1/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
